.card {
  max-width: 600px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;

  &__img {
    display: block;
    width: auto;
    max-height: 400px;
    height: 100%;
  }

  &__quote {
    margin-top: 20px;
    font-family: "Gloria Hallelujah";
    font-size: 22px;
  }

  &__author {
    margin-top: 16px;
    font-size: 20px;
  }

  &__btn {
    height: 55px;
    padding: 16px 24px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    cursor: pointer;

    &--fetch {
      background-color: #00de36;
    }

    &--tweet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 30px;
      background-color: #00aced;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

// MEDIA QUERIES

@media (max-width: 520px) {
  .buttons {
    flex-direction: column;
  }

  .card {
    &__img {
      max-height: 300px;
    }

    &__quote {
      font-size: 18px;
    }

    &__btn {
      width: 250px;

      &--tweet {
        margin-left: 0;
        margin-top: 26px;
        justify-content: center;
      }
    }
  }
}
